html[data-theme="dark"] {
  --color-primary: #6E4D8C;
  --color-secondary: #40106C;
  --color-buttons: #FF7179;
  --color-typography: #FFFFFF;
  --color-border:#9378a9;
  --color-hoverButton:#fe555f;
  --color-gradient-background:linear-gradient(to right, #522C75, #64195F);
}
